.colorSystemRow {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto max-content;
  justify-items: start;
  align-items: start;
  margin-block-end: 10px;
  padding-block-start: 10px;
  gap: 10px;
}

.colorSystemRow:has(>button:first-child) {
  grid-template-columns: max-content 1fr auto max-content;
}

.colorSystem h3 {
  margin-block-end: 0;
  border-block-end: 4px solid var(--color-neutral-200);
}

.colorSystemRow h4 {
  color: var(--color-neutral-800);
  font-variant: all-small-caps;
  margin: 0px;
  display: inline-block;
}

.colorRange {
}

.colorRangeSettings {
  justify-self: end;
  align-self: end;
}

.colorSystem button {
  padding-inline-end: 1em;
  padding-inline-start: 1em;
  border-radius: 4px;
  min-inline-size: 30px;
  min-block-size: 30px;
  border: none;
  box-shadow: inset 1px 1px 1px var(--color-primary-200), inset -2px -2px 0px hsla(0, 0%, 0%, .15);
  background-color: var(--color-primary-400);
  color: var(--color-neutral-800);
  font-weight: 600;
}

.colorSystem button:active {
  box-shadow: inset 1px 1px 1px hsla(0, 0%, 0%, .15), inset -2px -2px 0px var(--color-primary-200);
}

.colorRangeSettings button {
  padding: 0;
  margin: 5px;
  max-block-size: 30px;
  max-inline-size: 30px;
}

.colorSystem {
  margin-inline-end: 20px;
  margin-inline-start: 20px;
  min-width: fit-content;
  margin: auto;
}

.colorSystem__accentColorControls {
  margin-block-start: 20px;
}

button.colorSystemRow__removeRowButton {
  background-color: var(--color-destructive-100);
}
