.colorInput {
  display: inline-block;
  margin-inline: 5px;
  border-radius: 4px;
  box-shadow: 1px 2px 1px hsla(0, 0%, 100%, .2), inset 1px 2px 2px hsla(0, 0%, 0%, .15);
  box-sizing: content-box;
  position: relative;
}

.colorInput__input {
  opacity: 0;
  block-size: 30px;
  inline-size: 30px;
}

.colorInput .colorInput__remove {
  padding-inline-end: unset;
  padding-inline-start: unset;
  min-block-size: unset;
  min-inline-size: unset;
  transition: opacity 0.2s ease-in;
  position: absolute;
  border-radius: 50%;
  block-size: 16px;
  inline-size: 16px;
  font: 600 12px monospace;
  line-height: 12px;
  background-color: var(--color-neutral-200);
  top: -5px;
  right: -5px;
  box-shadow: 1px 1px 1px hsla(0, 0%, 0%, .3);
  opacity: 0;
}

.colorInput:hover .colorInput__remove {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.colorInput .colorInput__remove:active {
  box-shadow: inset 1px 1px 1px hsla(0, 0%, 0%, .15), inset -2px -2px 0px var(--color-primary-100);
}
