main {
  margin: auto;
  max-inline-size: min(80vw, 900px);
}

nav {
  margin: auto;
  max-inline-size: min(95vw, 1000px);
  padding-block-start: 20px;
  margin-block-end: 20px;
}


nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li button {
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  font: 600 1.5em sans-serif;
  border: none;
  border-block-end: 4px solid transparent;
  color: var(--color-primary-600);
}

nav li button:hover {
  border-block-end: 4px solid var(--color-neutral-500);
}
