body {
  --color-primary-100: hsl(272, 74%, 91%);
  --color-primary-200: hsl(270, 91%, 91%);
  --color-primary-300: hsl(269, 87%, 88%);
  --color-primary-400: hsl(271, 59%, 81%);
  --color-primary-500: hsl(270, 45%, 70%);
  --color-primary-600: hsl(273, 35%, 54%);
  --color-primary-700: hsl(279, 40%, 45%);
  --color-primary-800: hsl(279, 51%, 33%);
  --color-primary-900: hsl(279, 100%, 19%);
  --color-neutral-100: hsl(253, 60%, 97%);
  --color-neutral-200: hsl(256, 29%, 90%);
  --color-neutral-300: hsl(258, 21%, 84%);
  --color-neutral-400: hsl(259, 12%, 70%);
  --color-neutral-500: hsl(240, 10%, 60%);
  --color-neutral-600: hsl(249, 20%, 40%);
  --color-neutral-700: hsl(251, 36%, 22%);
  --color-destructive-100: hsl(0, 71%, 84%);
  --color-destructive-200: hsl(0, 53%, 61%);
  --color-destructive-300: hsl(-9, 57%, 49%);
  --color-destructive-400: hsl(-21, 100%, 35%);
}